img{
    float: left;
}
.cow-showing {
    display: none;
}
.clickable{
    cursor: pointer;
    color: rgb(84, 180, 92);
}
.clickable:hover{
    text-decoration: underline;
}
.greenb{
    background-color: darkgreen;
}
.redb{
    background-color: red;
}
.yellowb{
    background-color: yellow;
}